<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>detalle Movie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-title>Detalle de Pelicula</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-toolbar>
    </ion-toolbar>
    
  </ion-header>
  <ion-text color="primary" class="ion-text-center">
    <h1>Detalle de pelicula</h1>
  </ion-text>
  <ng-container *ngIf="movie$|async as movie">
    <ion-card>
      <ion-card-header>
        <ion-img
            class="ion-img"
            alt="Silhouette of mountains"
            src="https://image.tmdb.org/t/p/original{{movie.poster_path}}"
          />
        <ion-card-subtitle> {{movie.status}} </ion-card-subtitle>
        <ion-card-title> {{movie.title}} </ion-card-title>
      </ion-card-header>
      <ion-card-content> {{movie.overview}} </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
